<p>
  <b>Nombre:</b>
  <%=h @jerarquia.nombre %>
</p>

<p>
  <b>Prioridad:</b>
  <%=h @jerarquia.prioridad %>
</p>


<%= link_to 'Edit', edit_jerarquia_path(@jerarquia) %> |
<%= link_to 'Back', jerarquias_path %>